body {
    background-color: #F5EFE6 ;
}
hr{
    border-style: dotted none none;
    border-width: 5px;
    border-color: #E8DFCA;
    width: 25%;
}
h1{
  font-style: italic;
  color: #7895B2;
  font-family:cursive;
}
h3{
    font-style: italic;
  color: #7895B2;
}
.skill{
  color: #eef;
  font-style: inherit;
}
.profile-pic{
  border-radius: 100%;
}
.profile-pic:hover{
  border-radius: 0%;
  height: 250px;
  width: 250px;
}
